Package: libertinetexmflocal
Version: 4.4.1-1
Section: Font
Priority: extra
Architecture: all
Installed-Size: 19873
Maintainer: Michael Niedermair m.g.n@gmx.de
Description: LaTeX-Unterstützung für den Font libertine+biolinum (alpha)
 Dieses Paket stellt die LaTeX-Unterstützung für den Font libertine+biolinum zur Verfügung.
 .
 Dabei muss vorher eine entsprechende TeX-Installation durchgeführt worden sein.
