\def\fd_family#1#2#3{
   \a_toks{#3}
   \edef\lowercase_file{\lowercase{
     \edef\noexpand\lowercase_file{#1#2.fd}}}
   \lowercase_file
   \open_out{\lowercase_file}
   \out_line{\string\ProvidesFile{\lowercase_file}}
   \out_lline{[
      \the\year/
      \ifnum10>\month0\fi\the\month/
      \ifnum10>\day0\fi\the\day\space
      scaled~font~definitions~for~libertine~#1/#2~(Nm).
   ]}
   \out_line{}
   \out_line{\string\expandafter\string\ifx\string\csname\space fxl@scale\string\endcsname\string\relax}
   \out_line{\space\space\space\string\let\string\fxl@@scale\string\@empty\percent_char}
   \out_line{\string\else}
   \out_line{\space\space\space\string\edef\string\fxl@@scale{s*[\string\csname\space fxl@scale\string\endcsname]}\percent_char}
   \out_line{\string\fi}
   \out_line{}
   \out_line{\string\DeclareFontFamily{#1}{#2}{\the\a_toks}}
   {
      \csname #1-#2\endcsname
      \out_line{}
      \let\do_shape=\substitute_shape
      \csname #1-#2\endcsname
      \let\do_shape=\remove_shape
      \csname #1-#2\endcsname
   }
   \x_cs\g_let{#1-#2}\x_relax
   \out_line{}
   \out_line{\string\endinput}
   \close_out{Font~definitions}
}

